@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
.well {
  @include background-image( linear-gradient(to left, #FFF, #F4F5F7) );
  border-radius: 0px;
  min-height: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  margin-bottom: 5px;

  h3 {
    margin-top: 0; font-size: 0.825em;
  }
  p {
    font-size: 1.2em;
  }
}

