@import url(../bower_components/bootstrap/dist/css/bootstrap.css);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
@import 'mixins';

$about-section-bg-color: #F90;
$work-section-bg-color: #494;

$footer-color: #D4D4D4;
.cover-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background: no-repeat center center fixed;
}

body {
  font-family: 'Lato', sans-serif; font-weight: 400;

  padding-top: 50px;

  .main {
    padding: 40px 15px;
    text-align: center;
  }

  // Sections
  section {
    // Mobile
    @include breakpoint(mobile) {
      padding-left: 20px;
    }

    min-height: 20em;
    padding: 2em 0;
    position: relative;

    &#hero {
      @extend .cover-bg;
      .content {
        position: absolute;
        top: 15%;
        left: 5%;
        background: rgba(#FFF, 0.5);
        padding: 20px;

      }
      height: 30em;
      // background-color: $section-1-bg-color;
      background-image: url("../images/hero.jpg");
      @include breakpoint(mobile) {
        padding-left: 0px;
      }

    }

    &#apps {

      .col-md-4 {
        padding-left: 0; margin-top: 12px;
      }
      .move-up {
        position: relative;
        display: block;
        height: 23em;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 0 0;
        -webkit-transition: background-position 0.5s ease, opacity 0.2s ease;

        h2 {
          font-size: 1.2em;
          font-weight: bold;
          color: #F90;
          position: absolute;
          bottom: -40px;
          padding: 10px 10px; margin-top: 5px;
          width: 100%;
          display: block;
          -webkit-transition: bottom 0.5s ease;
          letter-spacing: -1px;
        }

        overflow: hidden;

        &:hover {
          background-position: 0 -40px;
          opacity: 0.5;
          h2 {
            opacity: 1;
            bottom: 0;
          }
        }

      }

    }

    &#contact {
      h2 {
        border-bottom: 1px solid #999;
        @include breakpoint(mobile) {
          border-bottom: none;
        }
      }

      .col-xs-12 {
        padding-left: 0;
      }
    }

  }

  footer {
    padding: 14px 0;
    border-top: 1px solid #CCC;
    background-color: $footer-color;
    @include breakpoint(mobile) {
      padding-left: 10px;
    }
  }

}

