.ddsmoothmenu{
margin-top:12px;
}


#contents .comments { margin-top:-20px;}

.sidebarpopular ul li.popclear { margin-top:-15px;}
.sidebarpopular ul li.populardesc { width:160px;}

#contents .relatedposts ul li.relatedclear { margin-top:-15px;}


#footerwrap {
	padding: 40px 0 40px 46px;
}

.gallery {margin:0;padding:0;}