<div class="inner-page">
    <h1>About pixiewebdesign.net</h1>
    <p>
        It all started about 23 years ago. I built a very simple C program, the purpose of which was to help primary
        school students to choose a post-primary (secondary) school. It hadn't been done before. At least not to my
        knowledge. I entered into the Aer Lingus Young Scientist exhibition, nowadays known as the BT Young Scientist.
        It was literally a series of if/else statements, and a flat-file lookup. But even at 14 years of age, I
        understood the impact that computers, and in particular software, would have on our daily lives.
    </p>

    <p>
        <strong>And Im still building systems that help people with all sorts of life choices, today.</strong> Having worked with O2,
        Three and Trinity College during my 20 odd years programming and designing, I've learned a thing or two about
        how people interact with systems.
    </p>


</div>
