<div id="hello">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <h1>The web artisans.</h1>
                <h2>Purveyors of hand-crafted code.</h2>
            </div>
            <!-- /col-lg-8 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /hello -->

<div id="green">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 centered">
                <img src="assets/img/iphone.png" alt="">
            </div>
            <div class="col-lg-7 centered">
                <h3>User experience is key..</h3>

                <p>Have you heard of <em>mobile-first</em>? It's a brave new strategy that suggests that we throw out
                    the way we design websites, in favour of a model that puts the smartphone at the heart of everything
                    we do. It's no wonder, with more than 60% of the worlds population using a smartphone.</p>

                <a href="/contact" class="white-link">Get your website mobile-ready.</a>
            </div>
        </div>
    </div>
</div>


<section id="contact"></section>
<div id="social">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                Got a question? Talk to me today. <a href="/contact" class="btn btn-small btn-warning">Contact.</a>
            </div>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /social -->
