<div class="inner-page">
    <h1>{{portfolio.title}}</h1>
    <div class="row">
        <div class="col-md-8">
            <p class="summary">{{portfolio.summary}}</p>
            <div class="description" ng-bind-html="portfolio.description"></div>
            <p class="date">{{portfolio.date}}</p>
            <div class="categories">Filed under:
                <div class="label label-default portfolio-category" ng-repeat="category in portfolio.categories">{{category.title}}</div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="http://placekitten.com/400/300"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><a href="#!/portfolio/{{portfolio.previous}}" class="pull-left">&lt; Previous</a></div>
        <div class="col-md-6"><a href="#!/portfolio/{{portfolio.next}}" class="pull-right">Next &gt;</a></div>
    </div>
</div>
